@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
margin: 0;
padding: 0;
}
body {
color: white;
overflow-x: hidden;
background: black;
}
a {
text-decoration: none;
}
#a{
color: white;
}
#time{
position: relative;
left: 30%;
width: 100px;
height: 30px;
align-items: center;
display: flex;
justify-content: center;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
}
#head {
position: relative;
width: 100%;
top: 18px;
}
.h1 {
float: right;
font-size: 25px;
font-family: 'Open Sans', sans-serif;
margin-right: 5%;
margin-top: 10px;
}
.ul {
list-style-type: none;
padding: 0;
margin: 0;
float: left;
width: 90%;
}
.ul li {
font-family: 'Heebo', sans-serif;
display: flex;
align-items: center;
position: relative;
margin-top: 10px;
left: 5%;
height: 80px;
border-radius: 8px;
background: linear-gradient(to left, black, black, rgba(255,255,255,0.4));
}
.br {
position: relative;
left: 10%;
width: 91%;
height: 1px;
margin-top: 6px;
background: linear-gradient(to right, black, white, white);
border-radius: 0.1px;
}
.text h1 {
font-family: 'Heebo', sans-serif;
font-size: 16px;
}
.text span {
font-family: 'Heebo', sans-serif;
font-size: 12px;
color: #878787;
}
.get {
position: absolute;
display: flex;
justify-content: flex-end;
width: 10%;
left: 85%;
}
.ul li a {
position: sticky;
font-family: 'Heebo', sans-serif;
fon-weight: 300;
text-decoration: none;
background: white;
border-radius: 18px;
font-size: 13px;
padding: 5px 10px 6px 10px;
}
.ul li img{
border-radius:10px;
margin-right: 10px;
margin-left: 10px;
width: 55px;
}
.box{
position: absolute;
left: 2%;
top: 1%;
background: #2f3640;
height: 30px;
border-radius: 40px;
padding: 10px;}
.box:hover > #search-txt{width: 150px;top: 50px;}
.box:hover > .sebtn{background: white;}
.sebtn{
color: #e84118;
float: right;
width: 30px;
height: 30px;
border-radius: 50%;
background: #2f3640;
display: flex;
justify-content: center;
align-items: center;
transition: 0.4s;
text-decoration: none;}
#search-txt{
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: white;
font-size: 16px;
transition: 0.4s;   
line-height: 30px;
width: 0px;}

.store{
background-color: #067d68;

}